<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<doc-part xmlns="http://map.osm.me/osm-doc-part">
    <feature name="spring">
        <title lang="ru">Родник</title>
        <tags>
            <tag>
                <key>natural</key>
                <val value="spring"/>
            </tag>
        </tags>
        <trait>poi</trait>
        <icon>spring.png</icon>
        <applyed-to node="true"/>
    </feature>
</doc-part>
